[Desktop Entry]
Name=UnyDesk
GenericName=Remote Desktop
Comment=UnyDesk Remote Desktop by Unysystems
Exec=rustdesk %u
Icon=unydesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;linux;dart;rust;remote-control;p2p;unydesk;unysystems;remote-desktop;
Actions=new-window;
StartupWMClass=rustdesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=rustdesk %u
